.repos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.heading {
  font-family: 'Lobster';
  font-size: 35px;
  color: #0f172a;
}

.languages {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.items-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  flex-wrap: wrap;
}

.failure-image {
  width: 200px;
}
